services:
  - type: web
    name: shiksha-netra-ml
    runtime: docker
    region: oregon
    plan: free
    dockerfilePath: ./Dockerfile

    envVars:
      - key: GEMINI_API_KEY
        sync: false
